.bg-white {
  background-color: black;
}
section {
  width: 100%;
}

.box-aula {
  min-height: 250px;
}

li {
  list-style: none;
}
.arrow-teal {
  color: teal;
}
ul {
  margin-left: 20%;
}

.box-aula-titulo {
  min-height: 100px;
}

.relatorios * {
  margin: 5px;
}

.image-aula-nove {
  width: 90px;
  border-radius: 50%;
  height: 90px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}
