.image-information {
  margin-top: 5px;
  margin-bottom: 20px;
}
.image-information img {
  width: auto;
  height: 200px;
  border-radius: 5%;
}

.text-information {
  height: 80px;
  vertical-align: center;
  margin: auto;
}

.box-information{
  min-height: 300px;
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer; 
}

.box-information:hover {
  opacity: 1;
  transform: scale(1.01);
}

